@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

.home {
  overflow-x: hidden;
}

@media(max-width: 375px) {
  .dropdown {
    background-color: black;
  }
}


body {
  font-family: azo-sans, sans-serif;
  font-style: normal;
  color: #c2c2c2;
}

footer {
  background-color:#253f8e;
  font: 14px azo-sans;
  color: white;
  align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.li {
  display: list-item;
}

.fmglogo {
  width: 140px;
  height: 70px;
}

.homepageHero {
  background-image: url("assets/fmg_homepage_hero.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: top right; */
  height: 1000px;
  margin-bottom: -30px;
}


/* nav */

.position {
  position: fixed;
}

.navLink {
  font-style: azo-sans-web;
  font-size: 30px;
  color: #c2c2c2;
  font-weight: 100;
  padding-left: 20px;
}

.ColorNav {
  background: none;
}
/* hpheader */

.hpHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}


.hamburger {
  grid-column: 3;
  grid-row: 1;
}

.hpHeaderText {
  grid-column: 2;
  grid-row: 3;
  font-size: 2rem;
  color:  #A7B0B2;
  font-weight: 100;
}

.hpHeaderText2 {
  grid-column: 2;
  grid-row: 3;
  font-size: 3rem;
  color:  #FFFFFF;
  font-weight: 300;
}

.hpHeaderText3 {
  grid-column: 2;
  grid-row: 4;
  font-size: 13px;
  color:  #D6DD29;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: underline;
}

.arrow {
  height: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
}

/* phrenology */

.cardBlock{
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
  grid-column: 2;
  grid-row: 5;
  height: auto;
  width: 80%;
}

/* /frəˈnäləjē ər frəˈnik?/ */

.dictionary {
  color: #8c979a;
  font-size: 34px;
  font-family: azo-sans;
}

.phrenik {
  color: #131516;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 10px;
}

.dictionaryFrenikText {
  text-align: center;
  color: #131516;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
}

/* yearInReview */

.yearInReview {
  width: 100%;
  height: 660px;
  margin: 0;

}

/* clientSlider */



.slick {
  height: 150px;

}

.slickTwo {
  height: auto;

}

.slickThree {
  height: 100%;

}

#slideshow {
  background-color: #F2F3F4;
  height: 300px;
}



.clientSlider {
  height: 100px;
  width: 150px;
  object-fit: contain;
  margin: auto;
}


.sliderTwo {
  height: 200px;
  width: 250px;
  object-fit: contain;
  margin: auto;
}


.weCanDoAlot {
  display: flex;
}
.weDoAlot {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-style: azo-sans;
  color:  #131516;
  font-weight: 400;
  letter-spacing: 6px;
}

/* We Can Do */

.whatWeDoH{
  text-transform: uppercase;
  font-size: 18px;
  color:  #000000;
  font-weight: 600;
  letter-spacing: 4px;
  margin-left: 2;

}

.blogPost {
    align-items: center;
}

.blogArticles {
  text-transform: uppercase;
  font-size: 18px;
  color:  #000000;
  font-weight: 400;
  flex: 1;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blogVideos {

  max-width: 200px;
  max-height: 200px;

}




.whatWeDoText {
  color: #373D3F;
  font-style: azo-sans;
  font-size: 16px;
  font-weight: 300;
  list-style-position: inside;
}

.border-left {
    border-width: 2px !important;
}

.internalButton {
  color: #253F8E;
  font-size: 12px;
  border-bottom: 2px solid yellowgreen;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.internalButton2 {
  color: #253F8E;
  font-size: 12px;
  border-bottom: 2px solid yellowgreen;
  text-transform: uppercase;
}
/* we know Alot too */

.weKnowAlotNav {
  max-width: 800px;
  margin: auto;

}

.weKnowButtons {
  color: #666666,inherit;
  font-size: 22px;
  font-style: azo-sans;
  font-weight: 400;

}

.footer2 {
  margin: auto;
}

/* we make great work */


.weMakeGreatWorkGrid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1 1 1;
}


.weMakeGreatWork {
  background-color: #F2F3F4;
}

.GreatWorkCarousel {
  grid-column: 1;
  grid-row: 1;
}

/* were cool */

.weCool {
  background-color: #F2F3F4;

}

.centered {
   margin: auto;
   max-width: 1200px;
}

.weCoolText {
  font-size: 18px;
  font-weight: 100;
  font-style: azo-sans;
  letter-spacing: 1px;
  color: black;
}

/* quizPlaceholder */



/* WORK */


.workHero {
  background-image: url("assets/homepage_slider_takedown.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 450px;
}

.wpHeader{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr, 4fr, 2fr;
}

.wpHeaderText1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  color:  #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}

.wpHeaderText2 {
  grid-column: 1;
  grid-row: 3;
  font-size: 18px;
  font-style: azo-sans;
  color:  #F8F8F8;
  font-weight: 100;
  text-align: center;
}

/* clients */





.workClients {
  font-size: 18px;
  font-style: azo-sans;
  color: #373D3F;
  font-weight: 400;
  text-transform: uppercase;

}

.workClientImages {
  height: 232px;
  width: 258px;
  object-fit: cover;

}

.workClientImages2 {
  height: 232px;
  width: 258px;
  object-fit: cover;

}
/* even more clients */

.workClientLogos {
  height: 225px;
  width: 203px;
  border-bottom: 3px solid grey;
  object-fit: contain;
}

.stretch {
  height: 500px;
  width: 700px;
  object-fit: contain;
}

/* even more clients */

#clientQuote {
  font-family: azo-sans;
  font-weight: 100;
  font-size: 20px;
  color: #343434;
}

#clientQuoteHeader {
  font-family: azo-sans;
  font-weight: 400;
  color: #343434;
  font-size: 13px;
  margin: 20;

}



.one {
  height: 150px;

}

#slideshowTwo {
  background-color: #FFFFFF;
}

/* Capabilities */


.capabilitiesHero {
  background-image: url("assets/capabilities_hero.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 450px;
}

.capabilitiesLogos {
  height: 75px;
  width: 75px;
}


#circleLogo {
  border: 4px solid #373D3F;
  background-color: #FFFFFF;
  height: 125px;
  border-radius: 50%;
  width: 125px;
}


.wayWeWorkHeader {
  font-size: 18px;
  font-style: azo-sans;
  color: #373D3F;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.wayWeWorkText {
  font-size: 22px;
  font-style: azo-sans;
  color: #373D3F;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
}

.wayWeWorkLine {
  align: left;
  border-width: 1px;
  color: #D6DD29;
}

/* Min-width */

@media(min-width: 991px) {
  hr {
    margin-left: 0;
  }
}

@media(min-width: 991px) {
  hr {
    margin-left: 0;
  }
}

@media(max-width: 992px) {
  .allTheThings {
    order: second;
  }
}

.howCanWeHelp {
  background-image: linear-gradient(#253F8E, #373D3F)
}

.weDoAlotCapabilities {
  text-transform: uppercase;
  font-size: 32px;
  font-style: azo-sans;
  color:  #FFFFFF;
  font-weight: 450;
  letter-spacing: 4px;
}

.weDoAlotCapabilitiesText {
  font-size: 14px;
  font-style: azo-sans;
  color:  #FFFFFF;
  font-weight: 50;
  letter-spacing: 2px;
}

/* About */


.aboutHero {
  background-image: url("assets/aboutpage_hero.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 450px;
}

.wpHeaderTextAbout {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 3px;
}

.imgWrap {
  position: relative;
  height: 225px;
  width: 190px;
}


.imgDescription {
   position: absolute;
   top: 30%;
   bottom: 0;
   left: 10%;
   right: 10%;
   font-size: 20px;
   font-weight: 400;
   color: black;
   letter-spacing: 1px;
   visibility: hidden;

   /* transition effect. not necessary */
   transition: opacity 1s, visibility 1s;
}

.ourStuff {
  object-fit: contain;


}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.title {
  font-weight: 100;
}

.leadershipTeam {
  height: 100%;
}

.noGrey {
  background-color: #FFFFFF;
}

.auroraHero {
  background-image: url("assets/aurora.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 600px;
}

.allHandsHero {
  background-image: url("assets/allHands.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 600px;
}

.sparcHero{
  background-image: url("assets/paint.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 600px;
}

.pencilsHero{
  background-image: url("assets/pencils.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 600px;
}

.aboutText {
  color: white;
}

.aboutTextSignature {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.logo {
  object-fit: scale-down;
}

.impact {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;

}

/* resources */

.resourcesHeader {
  font-size: 44px;
  font-weight: 400;
}

.resourcesHero {
  background-image: url("assets/resourcesBanner.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 450px;
}

.resourcesHeaderNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#253f8e;
  height: auto;
}

.resourcesHeaderSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resourcesHeaderLinks {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.center-align {
text-decoration: none;
color: #DADEDF;
}

.enlightenedVideo {
  font-weight: 500;
  text-transform: uppercase;
  color: #373D3F;
}

.englightenedDigital {
  background-color: #535353;
}
/* footer */

.fmgfooterlink {
  font-style: none;
}

.footerlinks {
  font: 20px azo-sans sans-serif;
  color: white;
}

.email{
  color: yellow;
}

.copyright {
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
  font-weight: 80;
  color: #c2c2c2;
}

.socialIcon {
  height: 25px;
  width: 25px;
}

.blogPage {
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 30px;
  color: black;
}

.blogStarter {
  height: 200px;
}

.blogTitle {
  height: 200px;
}

.blogMain {
  height: 800px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 90%;
}


.blogTitle {
  grid-column: 2;
  grid-row: 1;
  align-items: end;
  font-size: 5rem;
  font-style: azo-sans;
  color: #343434;
  font-weight: 400;
  letter-spacing: 1px;

}

.blogPost{
  grid-column: 2;
  grid-row: 2;
  object-fit: contain;
}

.resourcesTitle {
  font-style: azo-sans;
  color: #707C80;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.blogCard {
  max-height: 280.66px;
}


.blogPostTitle {
  text-transform: uppercase;
  font-size: 1.4rem;
  color:  #000000;
  font-weight: 600;
}

.block {
  display: block;
}

.resourcesWrapper {
  margin-left: 30;
}

.line {
    border: .5px solid #253F8E;
}


li {
  list-style-position: inside;
}

.quizGrid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 30% 30%;
  height: 600px;
  background: linear-gradient(0deg, #020024 0%, #22275d 35%, #222760 100%);
}

.quizGrid2 {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 30% 30%;
  height: 600px;
  background: white;
}


.quizHeader {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  font-style: azo-sans;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;


}

.quizHeader2 {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  font-style: azo-sans;
  color: black;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;


}

.quizSecondaryHeader {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  font-style: azo-sans;
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;

}

.quizSecondaryHeader2 {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  font-style: azo-sans;
  color: black;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;

}

.quizStart {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: azo-sans;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;

}

.quizStartButton {
    grid-column: 2;
    grid-row: 3;
    align-content: space-around;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin: auto;
    outline: none;
    height:  50px;
    line-height:  40px;
    border:  2px solid yellow;
    text-align: center;
    width:  190px;
    font-size:  18px;
    font-style: azo-sans;
    font-weight: 500;
    color:  yellow;
}

.quizStartButton2 {
    grid-column: 2;
    grid-row: 3;
    align-content: space-around;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin: auto;
    outline: none;
    height:  50px;
    line-height:  40px;
    border:  2px solid blue;
    text-align: center;
    width:  190px;
    font-size:  18px;
    font-style: azo-sans;
    font-weight: 500;
    color:  blue;
}

.quizAnswerSection {
  grid-column: 2;
  grid-row: 3;
  align-content: space-around;
}

.quizAnswerChoice {
    grid-column: 2;
    grid-row: 3;
    align-content: space-around;
    background-color: white;
    background-repeat:no-repeat;
    margin: auto;
    outline: none;
    height:  50px;
    line-height:  40px;
    border:  2px solid #38428C;
    text-align: center;
    width:  190px;
    font-size:  18px;
    font-style: azo-sans;
    font-weight: 600;
    color:  #38428C;

}

.quizAnswerChoice2 {
    grid-column: 2;
    grid-row: 3;
    align-content: space-around;
    background-color: white;
    background-repeat:no-repeat;
    margin: auto;
    outline: none;
    height:  50px;
    line-height:  40px;
    border:  2px solid blue;
    text-align: center;
    width:  190px;
    font-size:  18px;
    font-style: azo-sans;
    font-weight: 600;
    color:  blue;

}
